.entry-content,
#tinymce {
    ul {
        list-style-type: square;

        ul {
            list-style: none;
            padding-left: 15px;

            > li:before {
                content: "+";
                margin-right: 4px;
            }
        }
    }

    ol {
        list-style: decimal-leading-zero;

        ol {
            list-style-type: lower-latin;
            padding-left: 25px;
        }
    }

    ul, ol {
        li {
            padding: 4px;

            &:nth-child(odd) {
                background: #F2F2F2;
                padding: 4px 8px;
            }
        }
    }
}