@font-face {
    font-family: 'Stringfellows';
    src: url('assets/fonts/stringfellows-webfont.eot');
    src: url('assets/fonts/stringfellows-webfont.eot#iefix') format('embedded-opentype'),
    url('assets/fonts/stringfellows-webfont.ttf') format('truetype'),
    url('assets/fonts/stringfellows-webfont.svg') format('svg'),
    url('assets/fonts/stringfellows-webfont.woff2') format('woff2'),
    url('assets/fonts/stringfellows-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}