.error-404 {
    .page-title {
        border-bottom: 1px solid #e5e5e5;
        clear: both;
        margin: 0 -20px;
        overflow: hidden;
        padding: 20px 20px 18px;
        position: relative;
    }

    .searchform {
        .fa {
            top: 13px;
            right: 13px;
        }
    }
}