* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: white;
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    clear: both;
    margin: 0 -15px;
}

.ingrid-half {
    padding: 0 15px;

    @media (min-width: 768px) {
        float: left;
        padding: 0 15px;
        width: 50%;
    }
}

/*--------------------------------------------------------------
8.1 Header
--------------------------------------------------------------*/
@import "header";

/*--------------------------------------------------------------
8.3 Posts and Pages
--------------------------------------------------------------*/
@import "main/posts-pages";

/*--------------------------------------------------------------
8.4 Comments
--------------------------------------------------------------*/
@import "main/comments";

/*--------------------------------------------------------------
8.5 Widgets
--------------------------------------------------------------*/
@import "sidebar/widgets";

/*--------------------------------------------------------------
8.6 404 Error Page
--------------------------------------------------------------*/
@import "main/404";

/*--------------------------------------------------------------
8.7 Footer
--------------------------------------------------------------*/
@import "footer";