$color_body: #888888;
$color_links: #fd83c6;
$color_links-hover: #82b37e;
$color_post-titles: #82b37e;
$color_meta: #aaaaaa;
$color_meta-links: #aaaaaa;

// Fonts
$font_primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font_secondary: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$font_body: $font_primary;
$font_body-weight: normal;